.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

span.todo-text {
    padding: 0 8px;
}

li {
    list-style: none;
}

.todo-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.todo-input * {
    padding: 3px;
    margin: 2px;
    border-radius: 5px;
}